body {
    /* background: black; */
    /* color: white; */
    width: 100%;
    color: white;
    background-color: #181818;
}

.wrap_all {
    position: relative;
    /* position: fixed; */
    width: 100%;
    /* left: 0; */
    /* right: 0; */
    border: solid 1px green;
    margin-top: 56px;
}

img {
    width: 100%;
    height: 100%;
}

/* ==============dinh dang noi dung============= */
.header {
    position: absolute;
    /* margin: 0; */
    width: 100%;
    height: 56px;
    right: 0;
    top: -57px;
    background-color: #303030;
    opacity: 0.8;
    z-index: 100;
}

.header_block {
    height: 56px;
    padding: 0px 16px 0px 16px;
    /* border: solid 1px red; */
}

.header_menu_icon {
    /* display: inline-block; */
    float: left;
    width: 32px;
    height: 56px;
    margin-top: 14px;
    margin-right: 16px;
}

.menu_icon {
    width: 24px;
    height: 24px;
}

.header_youtube_logo {
    float: left;/*Tại sao phải thêm float vào đây thì mới float lên nhể*/
    width: 133spx;
}

.hearder_search_box {
    float: left;
    width: 641px;
    height: 32px;
    /* margin: auto; */
    margin-top: 10px ;
    position: relative;
    margin-left: 166px;
}

.search_box {
    float: left;
    height: 32px;
    width: 575px;
    margin: auto;
    border: solid 0.5px whitesmoke;
}

#search {
    width: 568px;
    height: 26px;
    /* padding: 1px; */
}

.submit_but {
    height: 32px;
    width: 65px;
    position: absolute;
    right: 0;
    top: 0;
}

#submit {
    height: 32px;
    width: 65px;
}

.header_personal {
    width: 204px;
    height: 40px;
    float: right;
}

.icon1_box, .icon2_box, .icon3_box {
    float: left;
    width: 32px;
    height: 32px;
    margin: 5px;
    margin-top: 10px;
}

.icon4_box {
    margin: 5px;
    margin-top: 10px;
    float: left;
    height: 40px;
    width: 40px;
}

/* ============Noi dung chung=============== */
/* chua lam gi */

/* ===============left part =============== */

.left_part, .main_choices, .main_choices_box {
    width: 240px;
    /* background-color: gray; */
    /* border: solid 1px red; */
}
.left_part {
    height: 650px;
    padding: 12px 0px 12px 0px;
    scroll-behavior: smooth;
    /* position: fixed; */
    left: 0;
    background-color:  #303030;
    overflow-y: auto;
    overflow-x: hidden;
    
}
.main_choices, .other_choices, .other_services, .subcribed_channel, .set_up {
    padding-top: 10px;
}
.main_choices_box, .other_choices_box, .other_services_box, .subcribe_channel_box, .set_up_box {
    border-bottom: solid 1px gray;
    /* border: solid 1px black; */
}

.main_choices_1, .main_choices_2, .main_choices_3, .other_choices_1, .other_choices_2, .other_choices_3, .other_choices_4, .other_choices_5, .other_choices_6, .subcribe_channel_content, .other_services_box_content, .set_up_box_content {
    width: 192px;
    height: 40px;
    padding: 0px 24px 0px 24px;
    margin: auto;
    /* border: solid 1px yellow; */
    margin: 0;
}

.icon {
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 24px;
    padding-top: 5px;
}
.text, .text p {
    display: inline-block;
    width: 144px;
    height: 17.6px;
    margin: 0;
    padding-top: 5px;
    text-overflow: ellipsis;
    text-overflow: hidden;
}
p {
    text-overflow: ellipsis;
}

.box_header {
    width: 240px;
    font-size: 14px;
}

::-webkit-scrollbar {
    display: none;
}