* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ================ok============ */

.body {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    /* width: 100%; */
    border: solid 1px black;
    padding: 1%;
}

.side-bar {
    width: 20%;
    border: solid 1px black;
    height: 100vh;
    position: fixed;
}

.left-content {
    width: 80%;
    border: solid 1px black;
    margin-left: 20.5%;
}