.collum {
    float: left;
    width: 49%;
    text-align: justify;
    border: solid 1px black;
}

.col1, .col2 {
    text-indent: 20px;
}

body {
    text-align: justify;
}

.title{
    background-color: gainsboro;
    color: green;
    font-size: 30px;
}

.part1 {
    width: 300px;
}

.content {
    width: 330px;
}
.con2{
    padding-left: 10px;
}
